body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

html, body, #root {
  height: 100%
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

.star-rating-star {
  transition: color 0.03s
}

.star-rating {
  display: inline-block
}

.star-rating .label {
  text-align: center
}